.container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 1px solid black;
    margin: auto;

}

td {
    border: 1px solid black;
    width:40px;
    height:40px;
    text-align: center}



.hidden {
    visibility: hidden;
  }

.restart {
    width: 50px;
    height: 40px;
    font-size: xx-large;
}  

.hints button{
    width: 60px;
    height: 30px;
}

.hints{
    padding: 10px;

}

.restart{
    margin: 10px;
}